/* =======shipment banner========= */
.shipment-banner{
    min-height: 30vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.784)), url(../../assets/container.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /* position: relative;
    bottom: 20px;
    z-index: 15; */
}

.shipment-banner-content{
    width: 90vw;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.shipment-banner-content-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipment-banner-h3{
    font-size: 30px;
    font-family: Monda;
    color: white;
    text-decoration: underline;
}

.shipment-banner-p{
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 900px){
    .shipment-banner{
        height: 80vh;
    }
}

/* =======shipment table=========== */
.shipping {
    display: flex;
    flex-direction: column
}

.shipment-table{
    min-height: 10vh;
    background-attachment: fixed;
    position: relative;
    bottom: 20px;
    padding: 20px;
}

.shipping-table-form{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.shipment-table-content{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
    font-family: Monda;
}

.shipment-card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw
}

.shipment-card-content{
    width: 500px;
    margin: auto;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    padding: 10px;
}

.shipment-card-content-li{
    width: 100%;
    display: flex;
    justify-content: space-between
}