/* =======shipment banner========= */
.shipment-banner{
    min-height: 30vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.784)), url(../../assets/container.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /* position: relative;
    bottom: 20px;
    z-index: 15; */
}

.shipping-input-groups{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.shipment-banner-content{
    width: 90vw;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.shipment-banner-content-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shipment-banner-h3{
    font-size: 30px;
    font-family: Monda;
    color: white;
    text-decoration: underline;
}

.shipment-banner-p{
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 900px){
    .shipment-banner{
        height: 80vh;
    }
}

/* =======shipment table=========== */


.shipment-table{
    min-height: 10vh;
    background-attachment: fixed;
    position: relative;
    bottom: 20px;
    padding: 20px;
}

.shipping-table-form{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.shipment-table-content{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
    font-family: Monda;
}

.shipment-card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;

}

.shipment-card-content{
    min-width: 90vw;
    margin: auto;
    /* background-color: rgb(19, 19, 19); */
    border-radius: 5px;
    padding: 10px;
}

.shipment-card-content-li{
    width: 100%;
    display: flex;
    justify-content: space-around
}

.storage-table-headers{
    background-color: rgb(19, 19, 19);
    max-width: 90vw;
}

/* ========Storage table header================= */
.storage-table-headers{
    width: 90vw;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.storage-content-table{
    min-width: 100%;
    background-color: grey;
}

.storage-table-headers-body-head{
    text-align: justify
}

.storage-table-headers-body-heading{
    color: white;
    font-size: 18px;
}

/* ==========Shipment table content==================== */
.storage-content-table-content-topic{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding-left: 5px;
}

.storage-content-table-content-info{
    background-color: rgb(68, 56, 56);
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 5px;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 3px;
}
.storage-content-table-content-topic-upper{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding-left: 5px;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 3px;

}

.storage-content-table-content-topic-p{
    max-width: 11.25vh;
    margin-left: 10px;
}

.storage-content-table-content-topic-lower{
    padding-left: 5px;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    border-bottom: none;
}

.track-number-background{
    background-color: grey;
    padding: 5px;
    color: white;
}

.storage-content-table-content-topic-observation{
    max-width: 100%;
}

.storage-content-table-content-topic-lower-observation{
    background-color: grey;
    width: 102%;
    margin-left: -0.72%;
}


/* ============THE TRACKING SECTION================== */
.terniary-condition-p{
    width: 100%; 
    text-align: center;
    background-color: grey;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

/* =================TRACKING TYPE=================== */
.track-type{
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 50vh;
}

.track-type-h3{
    color: white;
    font-size: 18px;
    font-family: Monda;
}

.tracktype-link-group{
    margin: auto;
    max-width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}