.homefooter{
    min-height: 70vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.885)),url(../../../assets/blackworldmap2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}

.homefooter-content{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.homefooter-top{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}

.homefooter-top-left{
    width: 32%;
    /* background-color: aqua; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.homefooter-left-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 18px;
}

.f-logo{
    width: 150px;
    height: 70px;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px black;
}

.homefooter-logo{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.homefooter-social-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    margin-bottom: 10px;
}

.homefooter-logo-text{
    /* font-size: 60px; */
    font-family: Monda;
    color: white;
}

.homefooter-title{
    text-align: left;
}

.homefooter-input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.homefooter-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.homefooter-top-middle{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.homefooter-top-right{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 18px;
    /* color: black; */
}

.homefooter-bottom{
    color: white;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe{
    margin-top: 20px;
}

@media screen and (max-width: 900px){
    .homefooter-top{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        width: 90vw;
        padding: 0;
    }
    .homefooter-top-left{
        width: 90vw;
    }

    .homefooter-logo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .homefooter-top-middle{
        width: 90vw;
    }
    .homefooter-top-right{
        width: 90vw;
    }
}