.App {
  text-align: center;
  position: static;
  z-index: -12;
  background-color: #202020;
}

h3{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: Monda;
}

label{
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Monda;
  font-weight: 300;
  text-transform: capitalize;
  color: white;
}

input{
  font-family: 'Monda', sans-serif;
  padding: 6px;
  width: 350px;
  font-size: 18px;
  border-color: whitesmoke;
  border-width: 0.6px;
  box-shadow: 0;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
}

input::placeholder{
  font-family: 'monda'
}

select{
  width: 370px;
  font-family: 'Monda', sans-serif;
  padding: 6px;
  font-size: 18px;
  border-color: white;
  border-width: 1;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(153, 153, 153);

}

option{
  background-color: #202020;
  border-radius: 2px;
  box-shadow: 2px 4px 5px black;
  color: rgb(153, 153, 153);
}

textarea{
  font-family: 'Monda', sans-serif;
  padding: 10px;
  width: 500px;
  height: 250px;
  font-size: 18px;
  border-color: white;
  border-width: 1;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

textarea::placeholder{
  font-family: 'monda'
}

button {
  background-color: black;
  padding: 10px;
  width: 140px;
  border-width: 0;
  border-radius: 3px;
  filter: drop-shadow(2px 3px 4px black);
  color: white;
  font-family: Monda;
  font-size: 18px;
  margin-bottom: 10px;
}

button:hover{
  background-color: #1f1f1f;
  color: white
}

li{
  font-family: Monda;
  list-style: none;
  text-align: left;
}

iframe{
  min-height: 50vh;
}

thead{
  color: white;
  font-family: Monda;
  font-size: 20px;
}
tbody{
  color: aliceblue;
  font-family: Monda;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 90vw;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #2b2b2b;}

table tr:hover {background-color: #333232;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1f1f1f;
  color: white;
}

p{
  color: whitesmoke;
  text-align: justify;
}

li{
  color: whitesmoke
}

NavLink:active{
  color: red
}

NavLink:focus{
  color: red
}

.error{
  color: red;
  font-family: Monda
}

.form-alt-p{
  font-family: Monda;
  font-size: 16px
}

.lower-button-group{
  min-width: 60vw;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 900px){
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input{
    width: 300px;
    margin: auto;
  }
  textarea{
    width: 300px;
    margin: auto;
  }
  select{
    width: 350px
  }
}