.analitics{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.analitics-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.analitics-graph-left{
    width: 59vw;
    height: 50vh;
    background-color: #202020;
    color: white;
    filter: drop-shadow(2px 4px 5px black);
    border-radius: 2px;
    font-family: Monda;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.analitics-graph-right{
    width: 29vw;
    height: 50vh;
    background-color: #202020;
    border-radius: 2px;
    filter: drop-shadow(2px 4px 5px black);
    color: white;
    padding: 10px;
    font-family: Monda;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 720px){
    .analitics{
        min-width: 100vw;
    }
    .analitics-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center !important;
        width: 100vw;
    }
    .analitics-graph-left{
        width: 300px !important;
    }
    .analitics-graph-right{
        width: 300px !important;
    }
}