.dashboard-cards{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.dashboard-cards-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dashboard-cards-item{
    width: 320px;
    height: 200px;
    border-radius: 2px;
    filter: drop-shadow(2px 4px 5px black);
    background-color: #202020;
    padding: 10px;
}