.dashboard-banner{
    height: 40vh;
    background-color: #202020;
    /* background-attachment: fixed;
    background-size: cover;
    background-position: bottom; */
    position: relative;
    bottom: 20px;
    z-index: 15;
    width: 90vw;
    filter: drop-shadow(2px 4px 5px black);
    border-radius: 2px;
    margin: auto;
    padding: 10px;
}

.dashboard-banner-content{
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.dashboard-banner-h3{
    font-size: 45px;
    font-family: Monda;
    color: white;
    text-decoration: underline;
}

.dashboard-banner-p{
    font-size: 24px;
    color: white;
}