.add-shipment-banner{
    height: 40vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.784)), url(../../../../assets/plane.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    position: relative;
    bottom: 20px;
    z-index: 15;
}

.add-shipment-banner-content{
    width: 90vw;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.add-shipment-banner-h3{
    font-size: 45px;
    font-family: Monda;
    color: #FF9C25;
    text-decoration: underline;
}

.add-shipment-banner-p{
    font-size: 24px;
    color: #FF9C25;
}