.services{
    min-height: 100vh;
    background: linear-gradient(to right bottom, #333232 50%, #202020 40%);
    background-attachment: fixed;
    position: relative;
    bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.service-content{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}


.service-content-bottom{
    text-align: left;
    width: 100%;
}

.service-content-values-row{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
}

.service-content-values-item{
    width: 320px;
    height: 400px;
    padding: 10px;
    background-color: #333232;
    color: black;
    margin-bottom: 20px;
    border-radius: 2px;
    filter: drop-shadow(2px 4px 5px black);
    text-decoration: none;
}

.service-content-bottom-h3{
    font-size: 40px;
    color: white;
    text-decoration: underline;
    font-family: Monda;
    text-align: left;
}

.service-content-values-h3{
    font-size: 30px;
    color: white;
}

.service-content-values-p{
    font-size: 18px;
    font-family: Monda;
}

@media screen and (max-width: 900px){
    .service-content-values-row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .service-content-values-item{
        width: 300px;
    }
}