.admin-storage-table{
    margin-left: 15vw;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ==========the storage area=========== */

.admin-storage-table-header{
    background-color: rgb(19, 19, 17);
    color: white;
    font-family: Monda;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    padding: 10px, 2xpx;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.admin-storage-table-header{
    background-color: rgb(19, 19, 17);
    color: white;
    font-family: Monda;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    padding: 7px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.admin-storage-table-header-number{
    width: 40px;
}
.admin-storage-table-header-tracking{
    width: 100px;
}
.admin-storage-table-header-client{
    width: 150px;
}
.admin-storage-table-header-id{
    width: 100px;
}
.admin-storage-table-header-address{
    width: 140px;
}
.admin-storage-table-header-product{
    width: 170px;
}
.admin-storage-table-header-quality{
    width: 120px;
}
.admin-storage-table-header-unit{
    width: 60px;
}
.admin-storage-table-header-packaging{
    width: 70px;
}
.admin-storage-table-header-weight{
    width: 80px;
}
.admin-storage-table-header-date{
    width: 100px;
}

.admin-storage-table-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: none;
}
/* ===========THE TABLE CARD ================== */
.admin-storage-table-card{
    width: 84vw
}

/* ========THE CONTENT SECTION=============== */
.admin-storage-table-content{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    /* border-bottom: solid;
    border-color: black;
    border-width: 2px; */
}
.admin-storage-unifier{
    display: flex;
    flex-direction: column;
}

.admin-storage-table-content-content{
    display: flex;
    flex-direction: column;
}

.admin-storage-table-content-upper{
    background-color: rgb(68, 56, 56);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80vw;
    /* margin-left: 0px; */
    /* margin: auto;
    padding: 7px-3px; */
    /* padding-left: 10px;
    padding-right: 10px; */
}

.admin-storage-table-content-p{
    width: 6vw;
    text-align: left;
}


.admin-storage-table-content-number{
    width: 40px;
}
.admin-storage-table-content-tracking{
    width: 100px;
}
.admin-storage-table-content-client{
    width: 150px;
    margin-left: -3.4px;
}
.admin-storage-table-content-id{
    width: 100px;
    margin-left: -3.4px;
}
.admin-storage-table-content-address{
    width: 140px;
    margin-left: -3.4px;
}
.admin-storage-table-content-product{
    width: 170px;
    margin-left: -5px;
}
.admin-storage-table-content-quality{
    width: 120px;
}
.admin-storage-table-content-unit{
    width: 60px;
    margin-left:-3px;
}
.admin-storage-table-content-packaging{
    width: 70px;
    margin-left:-3px;
}
.admin-storage-table-content-weight{
    width: 80px;
    margin-left:-3px;
}
.admin-storage-table-header-date{
    width: 100px;
    margin-left:-3px;
}