.admin-storage-table{
    margin-left: 15vw;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

/* ==========the storage area=========== */

.admin-storage-table-header{
    background-color: rgb(19, 19, 17);
    color: white;
    font-family: Monda;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.admin-storage-table-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: none;
}
/* ===========THE TABLE CARD ================== */
.admin-storage-table-card{
    width: 100%;
}

/* ========THE CONTENT SECTION=============== */
.admin-storage-table-content{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80vw;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border-bottom: solid;
    border-color: black;
    border-width: 2px; */
}
.admin-storage-unifier{
    display: flex;
    flex-direction: column;
}

.admin-storage-table-content-content{
    display: flex;
    flex-direction: column;
}

.admin-storage-table-content-upper{
    background-color: rgb(68, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80vw;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.admin-storage-table-content-p{
    width: 6vw;
    text-align: left;
}